<div id="cards-page">
  <p id="notice"><%= notice %></p>

  <h1>Your Toolshed - Cards Test</h1>




  <div id="cards">
    <div class='grid-sizer'></div>

    <div class="accordion card" data-accordion data-allow-all-closed="true">
      <div class="accordion-item" data-accordion-item>
        <a href="" class="accordion-title">
          <div>
            <img src="assets/mower.jpeg" alt="">
            <div class='details'>
              <h4>John Deere Mega Mower Killer Destroyer</h4>
              <p><span class='emph'>Owner:</span> Justin</p>
            </div>
          </div>
        </a>
        <div class="accordion-content" data-tab-content>
          <h6>Details:</h6>
          <p>This is a killer mower!</p>
        </div>
      </div>
    </div>

    <div class="accordion card" data-accordion data-allow-all-closed="true">
      <div class="accordion-item" data-accordion-item>
        <a href="" class="accordion-title">
          <div>
            <img src="assets/mower.jpeg" alt="">
            <div class='details'>
              <h4>John Deere Mega Mower Killer Destroyer</h4>
              <p><span class='emph'>Owner:</span> Justin</p>
            </div>
          </div>
        </a>
        <div class="accordion-content" data-tab-content>
          <h6>Details:</h6>
          <p>This is a killer mower!</p>
        </div>
      </div>
    </div>

    <div class="accordion card" data-accordion data-allow-all-closed="true">
      <div class="accordion-item" data-accordion-item>
        <a href="" class="accordion-title">
          <div>
            <img src="assets/mower.jpeg" alt="">
            <div class='details'>
              <h4>John Deere Mega Mower Killer Destroyer</h4>
              <p><span class='emph'>Owner:</span> Justin</p>
            </div>
          </div>
        </a>
        <div class="accordion-content" data-tab-content>
          <h6>Details:</h6>
          <p>This is a killer mower!</p>
        </div>
      </div>
    </div>

    <div class="accordion card" data-accordion data-allow-all-closed="true">
      <div class="accordion-item" data-accordion-item>
        <a href="" class="accordion-title">
          <div>
            <img src="assets/mower.jpeg" alt="">
            <div class='details'>
              <h4>John Deere Mega Mower Killer Destroyer</h4>
              <p><span class='emph'>Owner:</span> Justin</p>
            </div>
          </div>
        </a>
        <div class="accordion-content" data-tab-content>
          <h6>Details:</h6>
          <p>This is a killer mower!</p>
        </div>
      </div>
    </div>

    <div class="accordion card" data-accordion data-allow-all-closed="true">
      <div class="accordion-item" data-accordion-item>
        <a href="" class="accordion-title">
          <div>
            <img src="assets/mower.jpeg" alt="">
            <div class='details'>
              <h4>John Deere Mega Mower Killer Destroyer</h4>
              <p><span class='emph'>Owner:</span> Justin</p>
            </div>
          </div>
        </a>
        <div class="accordion-content" data-tab-content>
          <h6>Details:</h6>
          <p>This is a killer mower!</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <%= link_to 'New Tool', new_tool_path %>

</div>
