<% provide(:title, 'Home') %>
<div id="gh-static-wrapper" style="background-image: url(<%= asset_path 'lawn_mower.jpeg' %>)">
  <div id="marquee">
    <h1 class="static-text">Gardenhood</h1>
    <h3 class="static-text">This is your neighborhood toolshed</h3>
    <br/>
    <%= link_to "Get Started", new_gardener_session_path, class: "success button", id: "gh-success"%>
  </div>
</div>
