<% provide(:title, 'Home') %>
<div>
  <h1>Gardenhood</h1>
  <h3>This is your neighborhood toolshed</h3>
  <br/>
  <%= link_to "Sign up", new_gardener_registration_path %>
  <%= link_to "Sign in", new_gardener_session_path %>
</div>
