$gh-yellow: #ffde00;
$gh-green: #367c2b;


#cards-page {

  #cards {


    .grid-sizer {
      width: 50%;
      @media (max-width: 350px) {
        width: 100%;
      }
    }

    .card {
      border: 2px solid black;
      border-radius: 10px;
      background: lightgray;
      width: 48%;
      margin: 4px 1%;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 100px;
        border-radius: 10px;
        vertical-align: middle;
        @media (max-width: 430px) {
          height: 50px;
        }
        @media (min-width: 640px) {
          height: 150px;
        }
      }

      .item-heading {
        display: inline-block;
        padding: 0 2px;
        height: 100%;
        h4 {
          display: inline-block;
          padding-bottom: 5px;
          margin: 0;
        }
        p {
          margin: 0;
        }
      }

      @media (max-width: 350px) {
        width: 100%;
        .details {
          padding-left: 10px;
        }
      }

    }

  }

  // Accordion Styling
  .accordion-item {
    width: 100%;

    .emph {
      font-weight: 700;
    }

    .accordion-title {
      padding: 0;
      border-radius: 8px;
      border: none;
      color: black;
    }
    .accordion-title > div {
      display: flex;
    }

    .accordion-content {
      padding: 5px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background: lightgray;
      border: none;
      border-top: 1px solid black;

      .item-details {
        width: 80%;
        float: left;
        p {
          margin: 0 0 5px;
        }
      }

      .item-links {
        width: 20%;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        a {
          font-size: 12px;
        }
      }

    }
  }

}

