$gh-yellow: #ffde00;
$gh-green: #367c2b;


#cards-page {

  #cards {

    .grid-sizer {
      width: 50%;
      @media (max-width: 350px) {
        width: 100%;
      }
    }

    .card {
      border: 2px solid black;
      border-radius: 10px;
      background: lightgray;
      width: 48%;
      margin: 4px 1%;
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;

      .accordion-title {
        border-radius: 8px;
        border: none;
        // border-top-left-radius: 10px;
        // border-top-right-radius: 10px;
      }
      .accordion-content {
        // border-radius: 10px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: lightgray;
        border: none;
        border-top: 1px solid black;
      }

      .details {
        height: 100%;
      }

      img {
        height: 100px;
        border-radius: 10px;
        vertical-align: middle;
        @media (max-width: 430px) {
          height: 50px;
        }
        @media (min-width: 640px) {
          height: 150px;
        }
      }

      .details {
        display: inline-block;
        padding: 0 2px;
        h4 {
          display: inline-block;
          padding-right: 5px;
          margin: 0;
        }
        p {
          margin: 0;
        }
      }

      @media (max-width: 350px) {
        width: 100%;
        .details {
          padding-left: 10px;
        }
      }

    }

  }
}

