/* ************************************
NAVBAR
************************************ */

$gh-yellow: #ffde00;
$gh-green: #367c2b;

@media (max-width: 948px){
  .nav-desktop {
    display: none;
  }
}

#gh-nav {
  background-color: $gh-yellow;
  color: $gh-green;
  padding: 0;
}

#site-logo {
  color: $gh-green;
  background-color: $gh-yellow;
  line-height: 80px;
  padding: 0 8px;
  font-size: 3em;
  display: block;
}

#site-logo:hover {
  color: $gh-yellow;
  background-color: $gh-green;
}

.menu > li > a {
  color: $gh-green;
  background-color: $gh-yellow;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

.menu > li > a:hover {
  color: $gh-yellow;
  background-color: $gh-green;
}

.gh-username {
  font-weight: bold;
}

/* ************************************
MOBILE-NAV
************************************ */

@media (min-width: 949px) {
  #gh-title-bar {
    display: none;
  }
}

.off-canvas-wrapper {
  height: 100%;
}

.off-canvas {
  background: rgba(0, 0, 0, 0);
}

#mobile-menu a {
  color: $gh-yellow;
}

#mobile-menu a:hover {
  color: $gh-green;
  background-color: $gh-yellow;
}

#mobile-menu li {
  list-style: none;
}

.title-bar {
  background-color: $gh-yellow;
}

.title-bar a {
  color: $gh-green;
}

.title-bar a:hover {
  color: $gh-yellow;
  background-color: $gh-green;
}

#gh-mobile-title {
  font-size: 1.5em;
  font-weight: bold;
}

#gh-menu-icon::after {
  background: $gh-green;
  box-shadow: 0 7px 0 $gh-green, 0 14px 0 $gh-green;
}
