/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require ./devise
 *= require_self

 */

$gh-yellow: #ffde00;
$gh-green: #367c2b;

/* ************************************
GENERAL
************************************ */

* {
  outline: none;
}

body {
  background: $gh-green; /* fallback for old browsers */
  background: -webkit-linear-gradient(top, lighten( $gh-green, 10% ), darken( $gh-green, 5% ));
  background: -moz-linear-gradient(top, lighten( $gh-green, 10% ), darken( $gh-green, 5% ));
  background: -o-linear-gradient(top, lighten( $gh-green, 10% ), darken( $gh-green, 5% ));
  background: linear-gradient(to bottom, lighten( $gh-green, 10% ), darken( $gh-green, 5% ));
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 0 auto;
}

#gh-success {
  color: $gh-green;
  font-weight: bold;
}


.accordion-title::before {
  content: none;
}

.is-active > .accordion-title::before {
  content: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.off-canvas-wrapper-inner {
  height: 100%;
  .off-canvas-content {
    background: inherit;
  }
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
  height: 1.5rem;
}

.progress .bar {
  height:  1.5rem;
  padding-left: 0.2em;
  color:   white;
  display: none;
}
