/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 /*= require foundation */

/* ************************************
GENERAL
************************************ */

* {
  outline: none;
}

.wrapper {
  margin: 0 auto;
}

/* ************************************
NAVBAR
************************************ */

#gh-nav {
  background-color: rgb(255,222,0);
  color: rgb(54,124,43);
}

.menu > li > a {
  color: rgb(54,124,43);
  background-color: rgb(255,222,0);
}

.menu > li > a:hover {
  color: rgb(255,222,0);
  background-color: rgb(54,124,43);
}

/* ************************************
STATIC PAGES
************************************ */

#gh-home-wrapper {
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
  background-color: rgb(54,124,43);
  margin: 0;
  display: flex;
  align-items: flex-end;
}

#marquee {
  margin: 150px;
}

#marquee > h1 {
  font-size: 7.5em;
}

#marquee > h3 {
  font-size: 2.5em;
}

.home-text {
  color: rgb(255,222,0);
  font-weight: 450;
}

/* ************************************
VIEWS BODY
************************************ */

/* ************************************
FOOTER
************************************ */
