// Place all the styles related to the Tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gh-yellow: #ffde00;
$gh-green: #367c2b;

.search-wrapper {
  width: 100%;
  padding: 0 1%;
  #search-form {
    display: inline-block;
    width: calc(100% - 72px);
    margin: 0;
    #search {
      display: inline-block;
      width: calc(100% - 80px);
      margin: 0 1px 0 0;
      vertical-align: bottom;
    }
  }
  .search-button {
    margin: 0;
    height: 39px;
  }
}
