// Place all the styles related to the Tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gh-yellow: #ffde00;
$gh-green: #367c2b;

.search-wrapper {
  width: 100%;
  padding: 0 1%;
  margin-bottom: 5px;
  h1 {
    margin: 0;
    display: inline-block;
  }
  #search-form {
    display: inline-block;
    width: calc(100% - 72px);
    margin: 0;
    #search {
      display: inline-block;
      width: calc(100% - 80px);
      margin: 0 1px 0 0;
      vertical-align: bottom;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      border-radius: 8px;
    }
  }
  .search-button {
    margin: 0;
    height: 39px;
  }
  p {
    color: white;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    span {
      font-weight: 700;
    }
  }
}

.new-tool {
  margin-left: 1%;
  margin: -20px 0 0 1%;
}
